
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;

  .vintage {
    font-size: 6rem;
    margin-top: 0px;
    margin-left: 20px;
    color: rgb(58, 55, 55);
    font-family: 'Lobster';
    text-shadow: 4px 3px 0px #fff, 
                 9px 8px 0px rgba(0,0,0,0.15);
      display: block;
      transform: rotate(-7.5deg);
    
  }
  
}
.main{
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: auto 0;
  background-image: url(pc.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode:lighten;
  background-position: center;

  .dayScore{
    height: 29rem;
    border:solid 4px rgb(104, 104, 104);
    float: left;
    background-color: whitesmoke;
    margin-left: 1%;
    width: 11rem;
    overflow: scroll;
    .scores__date{
      margin-top: 3px;
    }
  
  }
  .btn{
    margin-top: 20px;
    margin-right: 5rem;
      display: inline-block;
      padding: 1em 1.5em;
      text-decoration: none;
      color: whitesmoke;
      border: double 4px white;
      border-radius: 3px;
      transition: .4s;
    }
    .btn:hover {
      background: #fffbef;
      color: black;
    }
  .start-btn{
    width: 15rem;
    height: 3rem;
    margin-top: 20px;
    margin-right: 40px;;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: black;
      border: double 4px black;
      border-radius: 3px;
      transition: .4s;
    }
    .start-btn:hover {
      background: rgb(41, 41, 41);
      color:white;
    }
  }
  .main-image{
    width: 90%;
    text-align: center;
  }
  .typing {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }


  
  .typing p {
    color: black;
    font-size: 3rem;
    font-family: "Courier New", Consolas, monospace;
    letter-spacing: 4px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
}

.typing .hello {
  width: 0;
  animation:
  type 1.6s steps(16, end) 1000ms forwards;
}

@keyframes type {
  to {
    width: 45%;
  }
}

.type-space{
  padding-top: 8%;
  text-align: center;
  text-decoration: none;
  
  
  #target{
    font-size: 46px;
    letter-spacing: 3px;
  }
  .info{
    color: #ccc;
  }
}
    .v1{
      display: none;
    }

    .dayScore{

    }
