.my-page{
  height: 100vh;
      background-image: url(1.jpg);
      background-size:cover;
      &__top{
        .top-title{
          color: white;
          padding: 30px;
        }

      }
  &__score{
    display: flex;
    justify-content: space-around;
    .title{
      font-size: 24px;
      color: white;
    }
    .my-score{
      max-height: 600px;
      border: double 4px white;
      float: left;
      margin-left: 3%;
      width: 300px;
      overflow: scroll;
      .scores__date{
        border-right: 1px solid;
        margin-top: 3px;
        background:rgba(233, 238, 238, 0.4);
      }
    }
  }


}